RewriteEngine On

RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www\. [NC]
# Добавляем явную проверку для вашего домена
RewriteCond %{HTTP_HOST} ^(?:www\.)?kutepov-audio-tech\.ru$ [NC]
RewriteRule ^ https://kutepov-audio-tech.ru%{REQUEST_URI} [R=301,L,NE]