{% extends "base.html" %}
{% load static i18n %}
{% block meta %}
    <meta name="description"
          content={% trans "Контакты Kutepov Audio Tech и форма обратной связи" %}>
{% endblock %}
{% block title %}{% trans "Контакты" %}{% endblock title %}
{% block header %}
{% endblock %}
{% block content %}
    <section id="social-groups">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h2 class="section-title"><span>{% trans "Социальные сети" %}</span></h2>
                    <h4>{% trans "Контакты в социальных сетях:" %}</h4>
                    <br>
                    <ul>
                        <li><h4><a href="https://t.me/kutepov_audio_tech"><i class="fab fa-telegram"></i>
                            https://t.me/kutepov_audio_tech</a></h4></li>
                        <li><h4><a href="https://vk.com/kutepov_audio_tech"><i class="fab fa-vk"></i>
                            https://vk.com/kutepov_audio_tech</a></h4></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
