{% extends "base.html" %}
{% load static i18n %}
{% block meta %}
    <meta name="description"
          content={% trans "Курсы Java от Алексея Кутепова" %}>
{% endblock %}
{% block title %}{% trans "Курсы Java от Алексея Кутепова" %}{% endblock title %}
{% block header %}
    <div class="bg-primary text-white mini-header">
        <div class="container text-center">
            <h1>{% trans "Курсы Java" %}</h1>
            <form class="text-center" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}

                {% for language in languages %}
                    <button type="submit" name="language" value="{{ language.code }}"
                            class="btn btn-link text-light">{{ language.name_local }} ({{ language.code }})
                    </button>
                {% endfor %}
            </form>
        </div>
    </div>
{% endblock %}
{% block content %}
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="row">
                        <h2 class="section-title"><span>{% trans "Курсы от Алексея Кутепова" %}</span></h2>
                    </div>
                    <div class="row">
                        <div class="card mx-auto">
                            <a href="{% url "java_base" %}"><img class="card-img-top" src="{% static "img/java_base.png" %}" alt="Java. Базовый курс"></a>
                            <div class="card-body">
                                <h2 class="card-title"><a href="{% url "java_base" %}">Java. Базовый курс</a></h2>
                                <p class="card-text">Курс посвящён основам языка программирования Java и отлично подойдёт для начинающих разработчиков программного обеспечения.</p>
                                <p class="card-text">После прохождения курса вы сможете разрабатывать простые приложения на Java и решать широкий спектр алгоритмических задач.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}