{% extends "base.html" %}
{% load static i18n %}
{% block meta %}
    <meta name="description"
          content={% trans "Java. Базовый курс" %}>
{% endblock %}
{% block title %}{% trans "Java. Базовый курс" %}{% endblock title %}
{% block header %}
    <div class="bg-primary text-white mini-header">
        <div class="container text-center">
            <h1>{% trans "Java. Базовый курс" %}</h1>
            <form class="text-center" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}

                {% for language in languages %}
                    <button type="submit" name="language" value="{{ language.code }}"
                            class="btn btn-link text-light">{{ language.name_local }} ({{ language.code }})
                    </button>
                {% endfor %}
            </form>
        </div>
    </div>
{% endblock %}
{% block content %}
    <section id="java_base">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h2 class="section-title"><span>{% trans "Java. Базовый курс" %}</span></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <img src="{% static "img/java_base.png" %}" alt="Java. Базовый курс" width="100%"/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <br>
                    <h2>{% trans "О курсе" %}</h2>
                    <p class="lead">Курс посвящён основам языка программирования Java и отлично подойдёт для начинающих
                        разработчиков программного обеспечения.</p>
                    <p class="lead">При создании данного курса я опираюсь на свой многолетний опыт разработки приложений
                        на Java и опыт преподавания.</p>
                    <p class="lead">Моя основная задача построить материал таким образом, чтобы он легко воспринимался и
                        был понятен каждому!</p>
                    <p class="lead"><b>Курс включает в себя:</b></p>
                    <ul>
                        <li class="lead"><b>Подробный теоретический материал</b></li>
                        <li class="lead"><b>Примеры решения интересных задач</b></li>
                        <li class="lead"><b>Ответы на вопросы с собеседований</b></li>
                        <li class="lead"><b>Домашние задания</b></li>
                        <li class="lead"><b>Проверка домашних заданий (платно)</b></li>
                        <li class="lead"><b>Менторство - помощь преподавателя в любых вопросах (платно)</b></li>
                    </ul>
                    <p class="lead">После прохождения курса вы сможете разрабатывать простые приложения на Java и решать
                        широкий спектр алгоритмических задач.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="lessons">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h2 class="section-title"><span>{% trans "Уроки" %}</span></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 mx-auto">
                   {% for post in post_list %}
                        <div class="card mb-4">
                            <img class="card-img-top" src="{{ post.title_image.url }}" alt="">
                            <div class="card-body">
                                <h2 class="card-title"><a href="{% url "java_base_lesson" post.url %}">{{ post.title }}</a></h2>
                                <p class="card-text">{{ post.short_text }}</p>
                                <a href="{% url "java_base_lesson" post.url %}" class="btn btn-primary">{% trans "Читать далее" %} &rarr;</a>
                            </div>
                            <div class="card-footer text-muted">
                                {% trans "Дата публикации" %} {{ post.datetime|date:"d.m.Y" }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}