{% load static i18n %}
<!DOCTYPE html>
<html lang="ru">

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EEPD8ZJRYP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-EEPD8ZJRYP');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{% trans "Алексей Кутепов" %}">
    <meta name="yandex-verification" content="d7f43f1e48a23a4e"/>
    <meta name="google-site-verification" content="DqlAdbOQz4PFtgMIxDSzVrgojdgJhMHaNX1U1oY3E-g"/>
    {% block meta %}
        <meta name="description"
              content="{% trans "Разработка программного обеспечения и внедрение информационных технологий в современный бизнес" %}">
    {% endblock %}

    <title>{% block title %}{% trans "Алексей Кутепов" %}{% endblock title %}</title>

    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/lumen-bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/fontawesome/all.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/scrolling-nav.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">

    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/default.min.css">

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-3381757163095866",
            enable_page_level_ads: true
        });
    </script>

    <script data-ad-client="ca-pub-3381757163095866" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="{% url "index" %}">{% trans "Алексей Кутепов" %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "index" %}">{% trans "Главная" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "it" %}">{% trans "Блог" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "contacts" %}">{% trans "Контакты" %}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block header %}
    <header class="bg-primary text-white">
        <div class="container text-center">
            <h1>{% trans "Блог Алексея Кутепова" %}</h1>
            <p class="lead">{% trans "Разработка программного обеспечения" %}</p>
            <form class="text-center" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}

                {% for language in languages %}
                    <button type="submit" name="language" value="{{ language.code }}"
                            class="btn btn-link text-light">{{ language.name_local }} ({{ language.code }})
                    </button>
                {% endfor %}
            </form>
        </div>
    </header>
{% endblock %}


{% block content %}
{% endblock %}

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <form id="formSubscribe" class="subscribe" action="{% url "subscribe" %}" method="post">
                    {% csrf_token %}
                    <div id="divSubscribeOk" class="text-white" style="display: none">
                        <p>{% trans "Подписка оформлена!" %}</p></div>
                    <div id="divSubscribeError" class="text-white" style="display: none">
                        <p>{% trans "Что-то пошло не так :(" %}</p></div>
                    <div class="form-group">
                        <input class="form-control" style="width: 250px" name="email" type="email"
                               placeholder="mail@example.com" required>
                    </div>
                    <button type="submit" class="btn btn-primary">{% trans "Подписаться" %}</button>
                </form>
            </div>

            <div class="col-lg-6 mx-auto text-right">
                <h3 class="m-0 text-white">
                    <a class="text-white" href="{% url "rss" %}"><i class="fas fa-rss-square"></i></a>
                    <a class="text-white" href="https://t.me/alkutepov"><i class="fab fa-telegram"></i></a>
                    <a class="text-white" href="https://www.instagram.com/alkutepov"><i
                            class="fab fa-instagram"></i></a>&nbsp;
                    <a class="text-white" href="https://vk.com/alkutepov"><i class="fab fa-vk"></i></a>&nbsp;
                    <a class="text-white" href="https://www.facebook.com/alkutepov"><i
                            class="fab fa-facebook-square"></i></a>&nbsp;
                    <a class="text-white" href="https://github.com/AlexeyKutepov"><i class="fab fa-github"></i></a>&nbsp;
                    <a class="text-white" href="https://www.linkedin.com/in/alexeykutepov"><i
                            class="fab fa-linkedin"></i></a>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mx-auto text-center">
                <p class="m-0 text-white">Copyright © {% now "Y" %}, {% trans "Алексей Кутепов" %}</p>
            </div>
        </div>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/subscribe.js' %}"></script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(39470945, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true,
        trackHash:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/39470945" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</body>

</html>
